section:not(.main-wrapper) {padding-top: 100px;}
.section-wrapper {padding: 0 24px;}

/********** main-wrapper ********/
.main-wrapper .wrapper {position: relative;}
.main-wrapper .main-img {width: 100%;}
.main-wrapper .title-wrap {position: absolute; width: 100%; height: 100%; top: 0; left: 0; display: flex; justify-content: center; align-items: center; font-size: 42px; color: #fff; letter-spacing: 5px;}
.main-wrapper .title-wrap .br {background-color: #000; padding: 4px 16px; font-weight: bold; margin-right: 16px; opacity: .8;}


/********** prj-wrapper ********/
.prj-wrapper .wrapper {overflow: hidden;}
.prj-wrapper .prj-wrap {display: flex; flex-wrap: wrap; width: 101%;}
.prj-wrapper .prj-wrap .prj {position: relative; width: 24%; margin: 0 1% 1% 0;}
.prj-wrapper .prj-wrap .prj h4.title {position: absolute; top: 0; left: 0; padding: 16px; background-color: #000; color: #fff;}

/********** about-wrapper ********/
.about-wrapper {}
.about-wrapper .wrapper {overflow: hidden;}
.about-wrapper .team-wrap {display: flex; width: 101%; flex-wrap: wrap;}
.about-wrapper .team-wrap .team {width: 24%; margin: 0 1% 1% 0;}
.about-wrapper .team > *:not(:last-child) {margin-bottom: 20px;}
.about-wrapper .team .imgs {filter: grayscale(.7);}
.about-wrapper .team h4.name{font-size: 24px;}
.about-wrapper .team h5.title {color: #999;}
.about-wrapper .team p.content {line-height: 1.5;}
.about-wrapper .team a.bt-contact {display: block; padding: 12px; text-align: center; background-color: #eee;}
.about-wrapper .team a.bt-contact:hover {background-color: #ccc;}

/********** contact-wrapper ********/
.contact-wrapper {margin-bottom: 36px;}
.contact-wrapper .input {margin-bottom: 12px;}
.contact-wrapper .contact-form {margin-bottom: 36px;}
.contact-wrapper .map-wrap {width: 100%; height: 400px;}

/********** 반응형 ********/

@media screen and (max-width: 1532px) {
	
}

@media screen and (max-width: 1199px) {
	.prj-wrapper .prj-wrap .prj {width: 32.3333%;}
	
}


@media screen and (max-width: 991px) {
	
	/* .prj-wrapper .wrapper {padding: 0 30px;}
	.about-wrapper .wrapper {padding: 0 30px;}
	.contact-wrapper .wrapper {padding: 0 30px;} */
	.prj-wrapper .prj-wrap {width: 102%;}
	.prj-wrapper .prj-wrap .prj {width: 48%; margin: 0 2% 2% 0;}
	.about-wrapper .team-wrap {width: 102%;}
	.about-wrapper .team-wrap .team {width: 48%; margin: 0 2% 2% 0; border: 1px solid #ddd; padding: 16px;}
}


@media screen and (max-width: 767px) {
	.main-wrapper .wrapper {background-image: url("../img/architect.jpg"); background-position: center; background-size: cover; min-height: 400px;}
	.main-wrapper .main-img {display: none;}
	.main-wrapper .archi {display: none;}
	.prj-wrapper .prj-wrap {width: 100%;}
	.prj-wrapper .prj-wrap .prj {width: 100%; margin: 0 0 3% 0;}
}


@media screen and (max-width: 575px) {
	.section-wrapper {padding: 0 16px;}
	.about-wrapper .team-wrap {width: 100%;}
	.about-wrapper .team-wrap .team {width: 100%; margin: 0 0 5% 0;}
}


